<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value" class="side-nav">
    <p>
      <button mat-icon-button (click)="sidenav.toggle()" id="btnMenu">
        <mat-icon id="iconMenu">menu</mat-icon>
      </button>
    </p>
    <mat-list class="mat-list">
      <b mat-raised-button class="btn btn-menu" routerLink="/pages/home" routerLinkActive="active">
        <mat-icon class="menu-sub">home</mat-icon>
        <span i18n="PagesApp|Zakladka strony glownej">Strona główna</span>
      </b>
      <b mat-raised-button class="btn btn-menu" routerLink="/pages/clinic" routerLinkActive="active">
        <mat-icon class="menu-sub">trending_up</mat-icon>
        <span i18n="PagesApp|Zakladka dochodow">Kliniki</span>
      </b>

      <b mat-raised-button [ngClass]="{'rotated' : showSubmenuSettings}" class="btn btn-menu" (click)="showSubmenuSettings=!showSubmenuSettings">
        <mat-icon class="menu-sub">settings</mat-icon>
        <span i18n="PagesApp|Zakladka ustawien">Ustawienia</span>
        <mat-icon class="menu-btn-icon" [ngClass]="{'rotated' : showSubmenuSettings}">expand_more</mat-icon>
      </b>

      <div class="submenu" [ngClass]="{'expanded' : showSubmenuSettings}">
        <!-- <i mat-raised-button class="btn btn-submenu" routerLinkActive="" routerLink="">
          <span i18n="PagesApp|Zakladka ustawienia/ogolne">Ogólne</span>
        </i> -->
        <i mat-raised-button class="btn btn-submenu" routerLinkActive="active" routerLink="/pages/settings/clinicTMP">
          <span i18n="PagesApp|Zakladka ustawienia/poczekalnia kliniki">Kliniki poczekalnia</span>
        </i>
        <i mat-raised-button class="btn btn-submenu" routerLinkActive="active" routerLink="/pages/settings/city">

          <span i18n="PagesApp|Zakladka ustawienia/Miasta">Miasta</span>
        </i>
        <i mat-raised-button class="btn btn-submenu" routerLinkActive="active" routerLink="/pages/settings/province">
          <span i18n="PagesApp|Zakladka ustawienia/Województwa">Wojewodztwa</span>
        </i>
        <i mat-raised-button class="btn btn-submenu" routerLinkActive="active" routerLink="/pages/settings/users">
          <span i18n="PagesApp|Zakladka ustawienia/poczekalnia wojewodztwa">Użytkownicy</span>
        </i>

      </div>
      <!-- <b mat-raised-button (click)="showSubmenuSettings = false" class="btn btn-menu" routerLink="/pages/help" routerLinkActive="active">
        <mat-icon class="menu-sub">help</mat-icon>
        <span i18n="PagesApp|Zakladka pomocy">Pomoc</span>
      </b> -->
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar (eventMenu)="sidenav.toggle()"></app-toolbar>
    <div id="router-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
