<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="control-width">
        <input #login matInput type="text" i18n-placeholder="Login|Pole wprowadzania loginu" placeholder="Login"
          formControlName="username" required autofocus>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="control-width">
        <input #password matInput type="password" formControlName="password" i18n-placeholder="Login|Pole wprowadzania hasla"
          placeholder="Haslo" [type]="passHide ? 'password' : 'text'" required>
        <mat-icon *ngIf="passHide" matSuffix (click)="passHide = !passHide" style="cursor:pointer">visibility</mat-icon>
        <mat-icon *ngIf="!passHide" matSuffix (click)="passHide = !passHide" style="cursor:pointer">visibility_off</mat-icon>
      </mat-form-field>
    </div>
    <div class="form-group">
      <button [disabled]="loading || getCheckRequired() && !checkSuperPassword(password.value)" class="btn-login"
        (click)="onSubmit()" mat-raised-button color="primary">
        <span i18n="Login|Przycisk logowania">Zaloguj się</span>
      </button>
      <br>
      <button class="btn-login" mat-raised-button color="primary" [routerLink]="['/register']">
        <span i18n="Login|Przycisk rejestracji">Zarejestruj</span>
      </button>
      <br>
      <button class="btn-login" mat-raised-button color="primary" [routerLink]="['']">
        <span i18n="Login|Przycisk powrotu">Powrót</span>
      </button>
    </div>
  </form>
</div>
