<div class="example-header">
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-12 col-md-8">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtr">
      </mat-form-field>
    </div>
    <div class="col-6 col-md-4">
      <button mat-raised-button color="primary" class="btnAddProvince" (click)="openDetailsModal(table,undefined,true,'Dodawanie nowej etykiety',true)">
        Dodaj województwo
      </button>
    </div>
    <br>
  </div>
</div>
<!-- </div>s -->
<div class="mat-elevation-z8" style="clear: both">
  <div class="example-container">
    <table #table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{element.dictProvinceId}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="buttonMore">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" class="btn-more" (click)="openDetailsModal(table,element,false,'Edycja etykiety',false)" >
            <span i18n="City|Przycisk ukazujacy szczegoly wojewodztwa">Więcej</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<mat-progress-bar *ngIf="!isLoaded" mode="indeterminate" color="accent"></mat-progress-bar>
