<h1 mat-dialog-title style="border-bottom: 1px solid #d6d6d6c2; width: 100%;" i18n="ClinicConfirm|Naglowek potwierdzenia usuniecia kliniki">Zatwierdzenie</h1>
<div mat-dialog-content>
  <p i18n="ClinicDelete|Informacja o danej akcji">{{content}}</p>
</div>
<div mat-dialog-actions style="float: right;">
  <button mat-raised-button cdkFocusInitial [mat-dialog-close]="data" color="primary">
    <span i18n="ClinicDelete|Przycisk zatwierdzjacy usuniecie kliniki">Potwierdź</span>
  </button>
  <button mat-raised-button type="button" [mat-dialog-close] color="accent">
    <span i18n="ClinicDelete|Przycisk anulujacy usuwanie">Anuluj</span>
  </button>
</div>
