@import "variables";
@import "mixins";

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 700px;
  overflow: auto;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-column-buttonAccept {
  margin-right: 5px;
}
.mat-column-buttonRemove {
  margin-right: 5px;
}

.mat-column-buttonMore {
  margin-right: 5px;
}
// Przycisk accept, remove
.btn-accept,
.btn-remove {
  @include buttonStyle(
    100px,
    50px,
    35px,
    0px,
    $buttonColorPrimary,
    $buttonColorPrimaryHover
  );
  color: white;
}

/* Przycisk wiecej */
.btn-more {
  @include buttonStyle(
    150px,
    100px,
    35px,
    1px,
    $buttonColorPrimary,
    $buttonColorPrimaryHover
  );
  margin-right: 2%;
  color: white;
}

// CONTAINERS HEADERS

.col-12 {
  mat-form-field {
    width: 100%;
    input {
      width: 100%;
    }
  }
}
