@import "variables";
@import "mixins";

.example-container {
  min-width: 300px;
  max-height: 700px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-column-id {
  max-width: 100px;
}

.mat-column-name {
max-width: 400px;
}
.mat-column-cityId {
  max-width: 200px;
}
.mat-column-provinceId {
  max-width: 200px;
}
.mat-column-buttonRemove {
  max-width: 200px;
}

.mat-column-buttonMore {
  max-width: 200px;
}
// Przycisk accept, remove
.btn-accept,
.btn-remove {
  @include buttonStyle(
    150px,
    50px,
    35px,
    0px,
    $buttonColorPrimary,
    $buttonColorPrimaryHover
  );
  color: white;
}
/* Przycisk wiecej */
.btn-more {
  @include buttonStyle(
    150px,
    100px,
    35px,
    1px,
    $buttonColorPrimary,
    $buttonColorPrimaryHover
  );
  margin-right: 2%;
  color: white;
}

// CONTAINERS HEADERS
.col-12 {
  mat-form-field {
    width: 100%;
    input {
      width: 100%;
    }
  }
}
