<mat-toolbar color="primary" class="app-toolbar">
  <span>
    <button mat-icon-button class="btn" (click)="emitMenuClickEvent()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <div id="label"><b>ClinicRate</b></div>
  <span class="app-spacer"></span>
  <span>
    <button mat-raised-button id="logoutBtn" color="accent" *ngIf="checkLogin()" (click)="logout()">Wyloguj</button>
    <button mat-raised-button id="logoutBtn" color="accent" *ngIf="!checkLogin()" [routerLink]="['/login']">Zaloguj</button>
  </span>
</mat-toolbar>
