mat-toolbar {
  position: sticky;
  top: 0;
  left: 0;
}

#label {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 6px;
  text-shadow: 3px 3px black;
}

.app-spacer {
  flex: 1 1 auto;
}

