<h3 mat-dialog-title>{{data.header}}</h3>
<mat-dialog-content class="mat-typography">
  <div style="float: left">
    <div class="containerButtons">
      <button mat-raised-button *ngIf="!data.isNewClinic && roleGuardService.checkPermission(role.Moderator)" color="primary" (click)="data.isInEditMode = !data.isInEditMode"
        [ngStyle]="{'background-color':data.isInEditMode ? '#3f51b5' : '#ff4081'}">
        <span i18n="ClinicMoreInfo|Edycja kliniki">Edycja</span>
      </button>
      <button mat-raised-button *ngIf="!data.isNewClinic && !data.delete && roleGuardService.checkPermission(role.Moderator)" color="primary" (click)="openDeleteDialog()"><span
          i18n="ClinicMoreInfo|Usunięcie kliniki">Usuń</span></button>

      <button mat-raised-button color="primary" *ngIf="!data.isInEditMode || data.delete || (data.isNewClinic && roleGuardService.checkPermission(role.User))" type="submit" [mat-dialog-close]="data"><span
          i18n="ClinicMoreInfo|Potwierdzenie zmian">Potwierdź</span></button>
    </div>
    <div class="containerMap">
      <img [src]="mapGoogle">
    </div>
  </div>
  <form style="float: left">
    <mat-form-field>
      <textarea matInput [disabled]="data.isInEditMode" type="text" i18n-placeholder="ClinicMoreInfo|Nazwa kliniki"
        placeholder="Nazwa kliniki" [(ngModel)]="data.ticket.clinicName" [ngModelOptions]="{standalone: true}" required></textarea>
    </mat-form-field>
    <br>
    <form id="addressForm">
      <mat-form-field>
        <input matInput [disabled]="data.isInEditMode" type="text" i18n-placeholder="ClinicMoreInfo|Ulica" placeholder="Ulica"
          [(ngModel)]="data.ticket.street" [ngModelOptions]="{standalone: true}" readonly required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [disabled]="data.isInEditMode" type="text" i18n-placeholder="ClinicMoreInfo|Kod pocztowy"
          placeholder="Kod pocztowy" [(ngModel)]="data.ticket.postCode" [ngModelOptions]="{standalone: true}" readonly
          required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [disabled]="data.isInEditMode" type="text" i18n-placeholder="ClinicMoreInfo|Miasto" placeholder="Miasto"
          [(ngModel)]="data.ticket.city" [ngModelOptions]="{standalone: true}" readonly required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [disabled]="data.isInEditMode" type="text" i18n-placeholder="ClinicMoreInfo|Województwo"
          placeholder="Województwo" [(ngModel)]="data.ticket.province" [ngModelOptions]="{standalone: true}" readonly
          required>
      </mat-form-field>
      <br>
    </form>
    <mat-form-field>
      <input matInput [disabled]="data.isInEditMode" type="text" i18n-placeholder="ClinicMoreInfo|Telefon" placeholder="Telefon"
        #phoneNumber [(ngModel)]="data.ticket.phoneNumber" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <br>
    <button [disabled]="data.isInEditMode" *ngIf="data.isNewClinic && roleGuardService.checkPermission(role.User)" id="enterTheAddressBtn" mat-raised-button color="primary" (click)="openAddressDialog(data.ticket)">
      <span i18n="ClinicMoreInfo|Zmiana adresu kliniki">Wprowadź adres</span>
    </button>
  </form>
  <div class="opinionsContainer" *ngIf="!data.isNewClinic">
<ul *ngFor="let opinion of opinions">
  <li>Tresc: {{opinion.description}} Srednia: {{opinion.rate}} </li>
</ul>
<button (click)="addOpinion()"></button>
  </div>
</mat-dialog-content>
<br>
